---
import '@/styles/global.css';
import Header from '@/components/layout/header.astro';
import Footer from '@/components/layout/footer.astro';
import { siteConfig } from '@/config/site';

import favicon from '@/favicon_io/android-chrome-512x512.png';

export interface Props {
  title?: string;
  description?: string;
}

const { title = siteConfig.title, description = siteConfig.description } = Astro.props;
---

<html lang="en" class="js">
  <head>
    <!-- Meta Tags -->
    <!-- General -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={favicon.src} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keywords" content={siteConfig.keywords.join(', ')} />

    <!-- Umami Analytics -->
    <script is:inline defer src="https://cloud.umami.is/script.js" data-website-id="065ec9e6-3b6b-4868-a29b-6d9538c525a6"></script>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <!-- <meta property="og:image" content={siteConfig.image} /> -->
    <meta property="og:url" content={siteConfig.url} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <!-- <meta property="twitter:image" content={siteConfig.image} /> -->

    <!-- Theme -->
    <script is:inline>
      (function () {
        const savedTheme = localStorage.getItem('theme') || 'system';
        let themeToApply;

        if (savedTheme === 'system') {
          themeToApply = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        } else {
          themeToApply = savedTheme;
        }

        document.documentElement.setAttribute('data-theme', themeToApply);
      })();
    </script>

    <!-- Title -->
    <title>{title}</title>
  </head>
  <!-- Body -->
  <body class="dark:bg-primary-950 text-primary-900 dark:text-primary-100 bg-white pt-16 antialiased transition-colors duration-200">
    <Header />
    <main class="mx-auto max-w-6xl px-4 py-8">
      <slot />
    </main>
    <Footer />

    <!-- Feather Icons -->
    <script is:inline src="https://unpkg.com/feather-icons"></script>
    <script is:inline>
      feather.replace();
    </script>

    <!-- GSAP Animations -->
    <script>
      import { AnimationUtils } from '@/scripts/animations';

      // Initialize animations when DOM is ready
      document.addEventListener('DOMContentLoaded', () => {
        AnimationUtils.initializeAll();
      });
    </script>
  </body>
</html>
